# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/

# Arquivo de variáveis de ambiente dentro de extractors
extractors/.env

# Ambiente virtual Python dentro de extractors
extractors/env_extractors/
env_extractors/
env_extractors_win/ # Se você criar com esse nome no Windows
venv/
*.venv/
.venv/

# Pasta de PDFs baixados localmente
output_scraper_pci/downloaded_pdfs_local/
extractors/output_scraper_pci/
extractors/output_scraped_data/
extractors/output_scraped_data_fase1/

# Arquivos de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd